body {
	margin-left: 50px;
	margin-right: 50px;
	background-image: url(body.jpg);
	
}
.top {
	margin-top: 50px;
}
.banner {
	background-image: url(banner.jpg);
	background-size: 100%;
	height: 330px;
}
.sss {

	height: 400px;
	background-color: rgba(0, 0, 0, 0.3)
}
.conez {
	
	height: 100px;
}

.w {
	;
	height: 500px;
}
.flex {
	display: flex;
}
.margin {
	margin-left: 100px;
}
.dw {
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: center;
	padding-top: 10px;
}

.padd {
	padding-top: 70px;
}


h5 {
	color: white;
}


